Data Manipulation and analysis with pandas

data manipulation and analysis are key tasks in any data scienceor analysis project. pandas provide wide range of functions for data analysis , making it easierr to clean transform and extract insights from data.

In [14]:
import pandas as pd

In [15]:
data=pd.read_csv('googleplaystore.csv') 
# to display the first 5 data we use
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [16]:
# to display the last 5 data we use
data.tail(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [17]:
# to get alll the statastical data we use describe
data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [18]:

# to get the data types of the columns 
data.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

Handling missing values

In [20]:
 data.isnull().sum()
#  the above gives the nor 
 data.isnull().any()
#  the above gives the boolean type of each field

App               False
Category          False
Rating             True
Reviews           False
Size              False
Installs          False
Type               True
Price             False
Content Rating     True
Genres            False
Last Updated      False
Current Ver        True
Android Ver        True
dtype: bool

In [22]:
data_fill=data.fillna(0)
# it is filled with 0 whereever there in no data

filling the missing values with mean of the column

In [24]:
data['fill_null']=data['Rating'].fillna(data['Rating'].mean())
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,fill_null
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,4.100000
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,3.900000
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,4.700000
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,4.500000
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,4.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,4.500000
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,5.000000
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up,4.193338
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device,4.500000
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,4.500000

In [28]:
# Renaming the columns
data=data.rename(columns={'Rating':'App rating'})
data.head(5)

,App,Category,App rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,fill_null
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,4.1
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,3.9
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,4.7
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,4.5
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,4.3

In [35]:
# change the datatypes
data['Apprating_new']=data['App rating'].fillna(data['App rating'].mean()).astype(float)

In [38]:
data['Apprating_new']=data['App rating'].apply(lambda x:x**2)
data['Apprating_new']

0        16.81
1        15.21
2        22.09
3        20.25
4        18.49
         ...
10836    20.25
10837    25.00
10838      NaN
10839    20.25
10840    20.25
Name: Apprating_new, Length: 10841, dtype: float64

Grouping and aggregating data

In [44]:
grouped_mean=data.groupby('Category')['App rating'].mean()
print(grouped_mean)

Category
1.9                    19.000000
ART_AND_DESIGN          4.358065
AUTO_AND_VEHICLES       4.190411
BEAUTY                  4.278571
BOOKS_AND_REFERENCE     4.346067
BUSINESS                4.121452
COMICS                  4.155172
COMMUNICATION           4.158537
DATING                  3.970769
EDUCATION               4.389032
ENTERTAINMENT           4.126174
EVENTS                  4.435556
FAMILY                  4.192272
FINANCE                 4.131889
FOOD_AND_DRINK          4.166972
GAME                    4.286326
HEALTH_AND_FITNESS      4.277104
HOUSE_AND_HOME          4.197368
LIBRARIES_AND_DEMO      4.178462
LIFESTYLE               4.094904
MAPS_AND_NAVIGATION     4.051613
MEDICAL                 4.189143
NEWS_AND_MAGAZINES      4.132189
PARENTING               4.300000
PERSONALIZATION         4.335987
PHOTOGRAPHY             4.192114
PRODUCTIVITY            4.211396
SHOPPING                4.259664
SOCIAL                  4.255598
SPORTS                  4.223511
TOOLS                   4.047411
TRAVEL_AND_LOCAL        4.109292
VIDEO_PLAYERS           4.063750
WEATHER                 4.244000
Name: App rating, dtype: float64

In [46]:
grouped_sum=data.groupby(['Category','Reviews'])['App rating'].sum()
print(grouped_sum)

Category        Reviews
1.9             3.0M       19.0
ART_AND_DESIGN  0           0.0
                1           5.0
                1015        4.2
                1070        4.6
                           ...
WEATHER         8723        4.2
                892         4.8
                89868       4.6
                9307        4.0
                981995      4.5
Name: App rating, Length: 7988, dtype: float64

In [51]:
# aggrigate multiple functions
grouped_aggr=data.groupby('Category')['App rating'].agg(['mean','sum','count'])
grouped_aggr

                          mean     sum  count
Category
1.9                  19.000000    19.0      1
ART_AND_DESIGN        4.358065   270.2     62
AUTO_AND_VEHICLES     4.190411   305.9     73
BEAUTY                4.278571   179.7     42
BOOKS_AND_REFERENCE   4.346067   773.6    178
BUSINESS              4.121452  1248.8    303
COMICS                4.155172   241.0     58
COMMUNICATION         4.158537  1364.0    328
DATING                3.970769   774.3    195
EDUCATION             4.389032   680.3    155
ENTERTAINMENT         4.126174   614.8    149
EVENTS                4.435556   199.6     45
FAMILY                4.192272  7323.9   1747
FINANCE               4.131889  1334.6    323
FOOD_AND_DRINK        4.166972   454.2    109
GAME                  4.286326  4702.1   1097
HEALTH_AND_FITNESS    4.277104  1270.3    297
HOUSE_AND_HOME        4.197368   319.0     76
LIBRARIES_AND_DEMO    4.178462   271.6     65
LIFESTYLE             4.094904  1285.8    314
MAPS_AND_NAVIGATION   4.051613   502.4    124
MEDICAL               4.189143  1466.2    350
NEWS_AND_MAGAZINES    4.132189   962.8    233
PARENTING             4.300000   215.0     50
PERSONALIZATION       4.335987  1361.5    314
PHOTOGRAPHY           4.192114  1328.9    317
PRODUCTIVITY          4.211396  1478.2    351
SHOPPING              4.259664  1013.8    238
SOCIAL                4.255598  1102.2    259
SPORTS                4.223511  1347.3    319
TOOLS                 4.047411  2970.8    734
TRAVEL_AND_LOCAL      4.109292   928.7    226
VIDEO_PLAYERS         4.063750   650.2    160
WEATHER               4.244000   318.3     75

Merging and joining the DataFrame

In [52]:
df1=pd.DataFrame({'key':['A', 'B', 'C'], 'value':[1,2,3]})
df2=pd.DataFrame({'key':['A', 'B', 'D'], 'value':[4,5,6]})

In [53]:
df1

  key  value
0   A      1
1   B      2
2   C      3

In [54]:
df2

  key  value
0   A      4
1   B      5
2   D      6

In [55]:
# meging Dataframe on the key columns

pd.merge(df1, df2,on='key',how='inner')
# inner- it will merge the values with same on both sides

  key  value_x  value_y
0   A        1        4
1   B        2        5

In [56]:
pd.merge(df1, df2,on='key',how='outer')
# outerr meanss that it will merge the whole table and unmatched values will be kept Nan

  key  value_x  value_y
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0

In [57]:
pd.merge(df1, df2,on='key',how='left')
# left gives more priority to the left table and takes only left table values

  key  value_x  value_y
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN

In [58]:
pd.merge(df1, df2,on='key',how='right')
# right gives more priority to the right table and takes only right table values

  key  value_x  value_y
0   A      1.0        4
1   B      2.0        5
2   D      NaN        6